<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testing.org/testing-1.0.dtd">

<suite name="unit tests" configfailurepolicy="continue" parallel="classes" thread-count="3">
    <test name="unit test">
        <groups>
            <run>
                <include name="mult test"/>
            </run>
        </groups>
        <class name="unit_tests.GroupTest">
            <class name="unit_tests.FirstTest">
                <class name="unit_test.PriorityTest">

                </class>
            </class>

        </class>
    </test>
</suite>